<div class="lk-branding">
  <section class="lk-branding_form">
    <h2 class="title lk-branding_title">Form</h2>

    <div class="row">
      <div class="col-md-6">
        <lk-form
          id="demoForm"
          [formGroup]="demoForm"
          (submit)="submitDemoForm()"
        >
          <div class="row">
            <div class="col-md-6">
              <lk-input
                [field]="foo"
                autofocus
              ></lk-input>

              <div class="v-space-10"></div>

              <lk-input [field]="bar"></lk-input>

              <div class="v-space-10"></div>

              <lk-input [field]="baz"></lk-input>

              <div class="v-space-20"></div>

              <lk-input [field]="lorem"></lk-input>

              <div class="v-space-20"></div>

              <lk-submit></lk-submit>
            </div>
          </div>
        </lk-form>
      </div>

      <div class="v-space-30 visible-sm visible-xs"></div>

      <div class="col-md-6">
        <h4>Code:</h4>

        <pre>
          <code>{{ code.demoForm }}</code>
        </pre>
      </div>
    </div>
  </section>

  <section class="lk-branding_modals">
    <h2 class="title lk-branding_title">Modals</h2>

    <div class="row">
      <div class="col-md-6">
        <span
          class="lk-brand-btn"
          (click)="openModal()"
        >Open Simple Modal</span>

        <div class="v-space-20"></div>
        <h4>Code:</h4>

        <pre>
          <code>{{ code.simpleModal }}</code>
        </pre>

        <div class="v-space-30"></div>
      </div>

      <div class="col-md-6">
        <span
          class="lk-brand-btn"
          (click)="openNavModal()"
        >Open Modal Using Routing</span>

        <div class="v-space-20"></div>
        <h4>Code:</h4>

        <pre>
          <code>{{ code.navModal }}</code>
        </pre>

        <div class="v-space-30"></div>
      </div>
    </div>
  </section>

  <section class="lk-branding_toaster">
    <h2 class="title lk-branding_title">Toasters</h2>

    <div class="row">
      <div class="col-md-3">
        <span
          class="lk-branding_toaster_link is-info"
          (click)="showInfoToaster()"
        >Info (3s)</span>

        <div class="v-space-20"></div>
        <h4>Code:</h4>

        <pre>
          <code>{{ code.infoToaster }}</code>
        </pre>

        <div class="v-space-30"></div>
      </div>

      <div class="col-md-3">
        <span
          class="lk-branding_toaster_link is-success"
          (click)="showSuccessToaster()"
        >Success (5s)</span>

        <div class="v-space-20"></div>
        <h4>Code:</h4>

        <pre>
          <code>{{ code.successToaster }}</code>
        </pre>

        <div class="v-space-30"></div>
      </div>

      <div class="col-md-3">
        <span
          class="lk-branding_toaster_link is-warning"
          (click)="showWarningToaster()"
        >Warning (7s)</span>

        <div class="v-space-20"></div>
        <h4>Code:</h4>

        <pre>
          <code>{{ code.warningToaster }}</code>
        </pre>

        <div class="v-space-30"></div>
      </div>

      <div class="col-md-3">
        <span
          class="lk-branding_toaster_link is-error"
          (click)="showErrorToaster()"
        >Error (10s)</span>

        <div class="v-space-20"></div>
        <h4>Code:</h4>

        <pre>
          <code>{{ code.errorToaster }}</code>
        </pre>

        <div class="v-space-30"></div>
      </div>
    </div>
  </section>

  <section class="lk-branding_styling">
    <h2 class="title lk-branding_title">Styling</h2>

    <h1>&lt;H1&gt;: Lorem Ipsum - Font A 30px reg</h1>

    <div class="v-space10">&nbsp;</div>
    <h2>&lt;H2&gt;: Lorem Ipsum - Open Sans 20px reg</h2>

    <div class="v-space10">&nbsp;</div>
    <h2 class="title">&lt;H2&gt;.title: Lorem Ipsum - Open Sans 30px light</h2>

    <div class="v-space10">&nbsp;</div>
    <h2 class="featured">&lt;H2&gt;.featured: Lorem Ipsum - Open Sans 48px reg</h2>

    <div class="v-space10">&nbsp;</div>
    <h3>&lt;H3&gt;: Dolor sit amet - Open Sans 18px reg</h3>

    <div class="v-space10">&nbsp;</div>
    <h3 class="promo-title">&lt;H3&gt;.promo-title: Dolor sit amet - Open Sans 24px bold uppercase</h3>

    <div class="v-space10">&nbsp;</div>
    <h4>&lt;H4&gt;: Dolor sit amet - Open Sans 12px bold uppercase</h4>

    <div class="v-space10">&nbsp;</div>
    <h5>&lt;H5&gt;: Dolor sit amet - Open Sans 12px bold uppercase brand color</h5>

    <div class="v-space10">&nbsp;</div>

    <p>
      <b>&lt;p&gt;:</b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum cum voluptas sint sunt ea maiores eius dolores, ipsum ut minus obcaecati omnis nulla adipisci facilis ex perferendis voluptates! Reiciendis earum quam doloremque quibusdam sapiente delectus autem. <br>
      Open Sans 14px reg
    </p>

    <div class="promo-text">
      <b>.promo-text:</b>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum cum voluptas sint sunt ea maiores eius dolores.<br>
      Open Sans 16px reg
    </div>

    <div class="v-space10">&nbsp;</div>

    <div class="hint">
      <b>.hint:</b>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt voluptates porro nihil quaerat? Distinctio nisi velit, totam doloribus eos vero? <br>
      Open Sans 14px italic
    </div>

    <div class="v-space10">&nbsp;</div>

    <blockquote>
      <b>&lt;q&gt;, &lt;blockquote&gt;, &lt;cite&gt;, .quote:</b>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ea officiis modi sit ipsa, non soluta tempora nobis at quos? <br>
      Font B 14px italic
    </blockquote>

    <div class="v-space10">&nbsp;</div>

    <div class="date"><b>.date:</b> Open Sans Mar 30, 2016</div>

    <div class="v-space10">&nbsp;</div>

    <span class="lk-brand-btn btn-primary">Primary button</span>
    <span class="lk-brand-btn btn-subtle">Secondary button</span>
  </section>
</div>
