@import "variables";

.lk-toolbar {
  position: relative;
  background-color: $lll-gray;
  box-shadow: 0 2px 2px rgba(50, 50, 50, .2);
  margin: 0;

  lk-nav {
    display: block;
    float: left;
  }

  lk-client-menu {
    display: block;
    float: right;
  }
}
