@import "variables";

.lk-client-login {
  &_forgot {
    cursor: pointer;
  }

  &_register {
    text-align: right;
    margin-top: 30px;

    span {
      cursor: pointer;
      color: $blue;
      font-weight: bold;
    }
  }
}
