<div class="lk-register">
  <div class="row">
    <div class="col-lg-6">
      <lk-form
        id="registerForm"
        [formGroup]="form"
        (submit)="register()"
      >
        <lk-input
          [field]="email"
          autofocus
        ></lk-input>

        <div class="v-space-10"></div>

        <div class="row">
          <div class="col-md-6">
            <lk-input [field]="firstName"></lk-input>
          </div>

          <div class="v-space-10 visible-md-down"></div>

          <div class="col-md-6">
            <lk-input [field]="lastName"></lk-input>
          </div>
        </div>

        <div class="v-space-10"></div>

        <div class="row">
          <div class="col-md-6">
            <lk-input [field]="password"></lk-input>
          </div>

          <div class="v-space-10 visible-md-down"></div>

          <div class="col-md-6">
            <lk-input [field]="confirmPassword"></lk-input>
          </div>
        </div>

        <div class="v-space-10"></div>

        <lk-input [field]="phone"></lk-input>

        <div class="v-space-30"></div>

        <lk-input [field]="additionalInfo"></lk-input>

        <div class="v-space-30"></div>

        <lk-input [field]="acceptTermsOfUse"></lk-input>

        <div *ngIf="!!apiErrorMessage">
          <div class="v-space-20"></div>

          <div class="lk-error-box">{{ apiErrorMessage }}</div>
        </div>

        <div class="v-space-40"></div>

        <div class="cf">
          <lk-submit
            label="Join"
            cssClass="lk-brand-btn btn-primary block-sm pull-left"
          ></lk-submit>

          <div class="lk-register_sign-in pull-right">
            Already a Member?

            <span (click)="openLoginModal()">Sign In</span>
          </div>
        </div>
      </lk-form>
    </div>

    <div class="col-lg-6 visible-lg">
      <div class="lk-register_promo">
        <h3 class="promo-title">
          Get more out of your Real Estate Search
        </h3>

        <ul class="promo-text">
          <li>
            <i class="fa fa-search"></i>Save your listings searches
          </li>

          <li>
            <i class="fa fa-folder-open"></i>Categorize saved listings in folders
          </li>

          <li>
            <i class="fa fa-bell"></i>Get Email and SMS notifications
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
