<div class="lk-reset-password">
  <div class="row">
    <div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <h2 class="title">Reset your password</h2>

      <div class="v-space-40"></div>

      <lk-form
        id="resetPasswordForm"
        [formGroup]="form"
        (submit)="submit()"
      >
        <lk-input
          [field]="password"
          autofocus
        ></lk-input>

        <div class="v-space-20"></div>

        <lk-input [field]="confirmPassword"></lk-input>

        <div *ngIf="!!apiErrorMessage">
          <div class="v-space-20"></div>

          <div class="lk-error-box">{{ apiErrorMessage }}</div>
        </div>

        <div class="v-space-40"></div>

        <lk-submit
          label="Reset Password"
          cssClass="lk-brand-btn btn-primary"
        ></lk-submit>
      </lk-form>
    </div>
  </div>
</div>

